{% extends "page_primary.html" %}
{% load helpers %}

{% block head_title %}Summit Medical Group - Our News{% endblock head_title %}
{% block meta_info %}View a list of news Features about Summit Medical Group's doctors, services, and facilities.{% endblock meta_info %}

{% block head_extra %}
	<link rel="stylesheet"  href="/dynamic-css/about.css" type="text/css" media="screen" />
	<script src="{{ MEDIA_URL }}/js/page_tools.js" type="text/javascript" charset="utf-8"></script>
{% endblock head_extra %}

{% block content %}
<!-- start of main blocks -->
<div id="main_block" class="main_block">
	<div class="main_block_sub_1">
		<div class="main_block_sub_2"> 		
			<!-- start of main blocks column right -->
			<div class="right_main_block">
				<div class="right_sub_main_block">
					<div class="create_account">									
						<!-- start of pages navigation -->
						<div class="navigation">										
							{% if showpages %}
								<div class="pages">
									<p>Pages: {% for newpage in pagelist %}
									{% ifequal page newpage %}
										<b>{{ newpage }}</b>
									{% else %}
									<a href="/features/{{ content }}/{{ newpage }}">{{ newpage }}</a>
									{% endifequal %}
								{% endfor %}</p></div>
							{% endif %}
						
							{% include 'site/share.html' %}
							<div class="clear"></div>
						</div>
						<!-- end of pages navigation -->
					
						<h1>Nutrition</h1>
						
						<p><i>Reviewed by <a href="/doctor/scanonico/">Susan Canonico, RD</a></i> for Summit Medical Group</p>
						<p>Want to know more about what's happening in nutrition? Our Nutrition column can help keep you abreast of recent research about foods, supplements, vitamins, and minerals. Each month, our medical writer and nutritionist will publish a new article accompanied with a recipe to help you live well and stay well.</p>
																						
						<ul>
						{% for feature in features %}
							{% ifchanged feature.relative_age %}
								<!--p><b>{{ feature.relative_age }}</b></p-->
							{% endifchanged %}
							<li><a href="{{ feature.get_absolute_url }}">{{ feature.headline|safe }}</a> <!--<span>({{ feature.display_time_for_display }})</span>--></li>
						{% endfor %}
						</ul>									
					</div>
				</div>
			</div>
			<!-- end of main blocks column right -->



			<!-- start of main blocks column left -->
			<div class="left_main_block">
				<div class="mt10">{% banner %}</div>
			</div>
			<!-- end of main blocks column left -->

		</div>
	</div>
</div>
<!-- end of main blocks -->
{% endblock content %}
