{% extends 'page_base.html' %}

{% block head_title %}Summit Medical Group - Email This Page To A Friend{% endblock head_title %}
{% block topbar %}{% endblock %}
{% block nav %}{% endblock %}
{% block footer %}{% endblock %}
{% block mobilenav %}{% endblock %}

{% block body %}
<div class="container">
    <img src="{{ STATIC_URL }}/images/main_logo.png" />
    <p class="pull-right"><a href="javascript:window.close()">Close window</a></p>
    <h2>Recommend This Page To A Friend</h2>

    <p><b>Important</b>: This tool is for sending pages to your friends and family only. <b>You cannot use this form to contact Summit Medical Group doctors or staff.</b> To contact Summit Medical Group, you should call the number listed for your specific doctor or our main number (908) 273-4300.</p>
    <p>Please enter the recipient's email address, your name, and your email address. You can also include a brief message to the recipient. When completed, click the "Send This Page" button.</p>
    {% if form.errors %}
    <p style="color:#C03;">Please correct the errors below highlighted in red.</p>
    {% endif %}
    {% if empty_error %}
    <p style="color:#C03;">You must fill out the entire form before sending a link.</p>
    {% endif %}
    {% if email_error %}
    <p style="color:#C03;">One of the email addresses that you have provided does not seem to be valid. Please re-enter it.</p>
    {% endif %}
    <br />
    <form name="emailpage" method="post">
        {{ form.title }}
        {{ form.referrer }}
        <table class="table">
            <tr>
                <td><p {% if form.s_name.errors %}style="color:#C03;"{% endif %} class="align_right_p"><span class="bold">Your Name:</span></p></td><td>{{ form.s_name }}</td>
            </tr>
            <tr>
                <td><p {% if form.s_email.errors %}style="color:#C03;"{% endif %} class="align_right_p"><span class="bold">Your Email Address:</span><br /><small>Example:&nbsp;recipient@aol.com</small></p></td><td>{{ form.s_email }}</td>
            </tr>
            <tr>
                <td><p {% if form.r_name.errors %}style="color:#C03;"{% endif %} class="align_right_p"><span class="bold">Recipient's Name:</span></p></td><td>{{ form.r_name }}</td>
            </tr>
            <tr>
                <td><p {% if form.r_email.errors %}style="color:#C03;"{% endif %} class="align_right_p"><span class="bold">Recipient's Email Address:</span></p></td><td>{{ form.r_email }}</td>
            </tr>
            <tr>
                <td><p {% if form.message.errors %}style="color:#C03;"{% endif %} class="align_right_p"><span class="bold">Message:</span></p></td><td>{{ form.message }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input class="btn btn-smg" type="submit" name="submit" value="Send My Recommendation" /></td>
            </tr>
        </table>
    </form>     
</div>
{% endblock body %}