{% extends "page_primary.html" %}
{% load helpers %}

{% block head_title %}Summit Medical Group - Upcoming Events{% endblock head_title %}

{% block head_extra %}
	<link rel="stylesheet"  href="/dynamic-css/newseventsblog.css" type="text/css" media="screen" />
{% endblock head_extra %}

{% block content %}
<!-- start of main blocks -->
<div id="main_block" class="main_block">
	<div class="main_block_sub_1">
		<div class="main_block_sub_2">
			
			<!-- start of main blocks column right -->
			<div class="right_main_block">
				<div class="right_sub_main_block">		
					<h2>Event Registration</h2>
					<p>You have successfully registered for the following Summit Medical Group events:</p>
					<ul>{% for eventtime in eventtimes %}
					<li><a href="{{ eventtime.event.get_absolute_url }}">{{ eventtime.event.title }} ({{ eventtime.timelong }})</a></li>
					{% endfor %}</ul>

					<p>You will receive an email confirming this registration within one business day. If you do not receive it, please contact us at the number below. If you are seeing this page, you do not need to register a second time.</p>

					<p>You will also receive a reminder approximately 48 hours before each event takes place. If you have questions or would like to cancel, please call our Events Hotline at 908-277-8889 or e-mail us at <a href="mailto:events@smgnj.com">events@smgnj.com</a>.</p>
				
				</div>
						
			</div>
			<!-- end of main blocks column right -->
			<!-- start of main blocks column left -->
			<div class="left_main_block">
				
				
			<div class="mt10">
				{% banner %}</div>
			</div>
			<!-- end of main blocks column left -->

		</div>
	</div>
<div class="clear"></div>
</div>
<!-- end of main blocks -->
{% endblock content %}
