{% extends 'one_column_layout.html' %}
{% load helpers %}

{% block head_title %}Summit Medical Group - Unsubscribe{% endblock head_title %}

{% block page_title %}Unsubscribe{% endblock %}

{% block content %}

<h2 class="top">Confirmed!</h2>
<p>You have successfully submitted an unsubscribe request.</p>

<p>We're sorry to see you go. Better health is just a click away! If you'd like to be added to our e-mail list for breaking health information and other updates, sign up for our e-newsletter, <a href="http://www.regardinghealth.com/signup/SMGsignup.asp?76517F14-BA8B-4298-BC88-4C33B79AFA57">Thrive</a></p>

{% endblock content %}
