{% extends "page_primary.html" %}
{% load helpers %}

{% block head_title %}Apogee Spa - Summit Medical Group{% endblock head_title %}

{% block meta_info %}{% meta_info page %}{% endblock meta_info %}

{% block head_extra %}
	<link rel="stylesheet"  href="/dynamic-css/themes.css" type="text/css" media="screen" />
	<link rel="stylesheet"  href="/dynamic-css/themes_sub.css" type="text/css" media="screen" />
	<script src="{{ MEDIA_URL }}/js/page_tools.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
	<!--
		var blank_url = "{{ MEDIA_URL }}/images/95x95_loading.jpg";
		var error_url = "{{ MEDIA_URL }}/images/95x95_not_avail.jpg";
	-->
	</script>
	<script src="{{ MEDIA_URL }}/js/doctor_flyover.js" type="text/javascript" charset="utf-8"></script>
{% endblock head_extra %}

{% block body_tag %}<body class="violet_theme s_spa">{% endblock body_tag %}
{% block content %}
<!-- start of main blocks -->
<div id="main_block" class="main_block">
	<div class="main_block_sub_1">
		<div class="main_block_sub_2">

			<!-- start of main blocks column right -->
			<div class="right_main_block">
				<div class="right_sub_main_block">
				
					<!-- start of pages navigation -->
					<div class="navigation">
						<div class="pages">
							<a href="/services/">Services</a> / <a href="/service/Spa-Apogee/">Apogée Spa</a> / {{ page.title }}
							<!-- Note: Service name is NOT dynamic here-->
						</div>
						
						{% include 'site/share.html' %}
					</div>
					<div class="clear"></div>
					<!-- end of pages navigation -->
					
					<!-- start of main content -->
					<div class="cols_2_fix_right_160_sub">

						<!-- start of left column of main content -->
						<div class="cols_2_left_sub">
						  <div class="cols_2_left_sub_sub">
								<div class="h1_wrap"><h1>Apogée Spa</h1></div>
								<!-- start of main information ("Content" from the service form)-->
								
								
								<!-- start of main information -->
								<div class="main_info">
									<h1>{{ page.title }}</h1>
									{{ content|safe }}
								</div>
								<!-- end of main information -->

						  </div>
						</div>
						<!-- end of left column of main content -->
						
						<!-- start of right column of main content -->
						
					</div>
					<!-- end of main content -->
				</div>
			</div>
			<!-- end of main blocks column right -->



			<!-- start of main blocks column left -->
			<div class="left_main_block">

				<div><a href="/"><img src="{{ MEDIA_URL }}/images/204x92_smg_return.gif" alt="SMG" width="204" height="92" border="0" /></a></div>

				<!-- "Offerings" from admin form. Currenlty no content in this field. Suppress when empty. -->
				{% if service.offerings %}
				<div class="box_207 mt10">
					<div class="box_207_bottom">
						<div class="box_207_top">
							<h2 class="quick_links">Our Services</h2>
							<ul class="triangles">
								{{ service.offerings|safe }}
							</ul>
						</div>
					</div>
				</div>
				{% endif %}
				<div class="box_207 mt10">
					<div class="box_207_bottom">
						<div class="box_207_top">

							<h2 class="quick_links">You might also like</h2>
							<!-- "Related services" from admin form.-->
							<div class="rain_box_wrap_0_6_28">
								<div class="rain_box">
									<div class="quick_links">
										<ul class="arrows">
											{% for related in service.related_services.all %}
												<li><a href="{{ related.get_absolute_url }}">{{ related.name }}</a></li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>

				<div class="mt10">
					{% banner %}</a></div>
			</div>
			<!-- end of main blocks column left -->
			
		</div>
	</div>
<div class="clear"></div>
</div>
<!-- end of main blocks -->
{% endblock content %}