{% extends "page_base.html" %}

{% block body_class %}oncology-service{% endblock body_class %}

{% block head_title %}Cancer Services | Summit Medical Group New Jersey{% endblock head_title %}

{% block main_phone %}908.277.8890{% endblock %}


{% block body %}

<div class="section-header-services">
    <div class="line"></div>
    <div class="container">
        <div class="row">
            <h2>Services // Cancer Services</h2>
        </div>
    </div>
</div>

<div class="container">

    {% block page_head %}{% endblock %}
    <div class="row">
        
        <div class="col-md-3 sidebar">

            <div class="list-group">
                <a class="list-group-item" href="/service/Oncology-Center/">  Home</a>
                <a class="list-group-item" href="/service/Oncology-Center/Our-Cancer-Services/">  Our Cancer Services</a>
                <a class="list-group-item" href="/service/Oncology-Center/Our-Cancer-Screening-Diagnosis-and-Treatments/">  Our Cancer Screening, Diagnosis, and Treatments</p>
                <a class="list-group-item" href="/service/Oncology-Center/Doctors/Our-Cancer-Doctors/">  Our Cancer Doctors</a>
                <a class="list-group-item" href="/service/Oncology-Center/Our-Related-Treatments/">  Our Related Treatments</a>
                <a class="list-group-item" href="/service/Oncology-Center/News/News-Items/1/">  Oncology News</a>
                {#<li><a href="/service/Oncology-Center/For-Professionals/">  For Professionals</a></li>#}
            </div>
            
        </div>


        <div class="col-md-9 service-content">
            
            <h2 class="title">
            {% block page_title %}Welcome to Cancer Services at Summit Medical Group{% endblock %}
            </h2>
                        
            {% block content %}
            {% endblock content %}

        </div>
    </div>
</div>     
{% endblock %}