{% extends "pages/base.html" %}
{% load helpers %}

{% block head_title %}Summit Medical Group - Page Not Found{% endblock head_title %}

{% block content %}
<!-- start of main blocks -->
<div id="main_block" class="main_block">
	<div class="right_main_block">
		<div class="right_sub_main_block">
			<h2>Page Not Found</h2>
			<p><b>Dear Summit Medical Group visitor</b>:</p>
			<p>We cannot find the page you are seeking. Please try:</p>
			<ul>
			<li>Searching for the page using the search box at the top of this page</li>
			<li>Checking the link to be certain it is correct</li>
			</ul>
			
			<p>If you would like additional help, please email our Internet Marketing Specialist Joy Pierce Mathews at at <a href="mailto:jmathews@smgnj.com">jmathews@smgnj.com</a></p>

		</div>
	</div> 
	<!-- start of main blocks column left -->
	<div class="left_main_block">
		<div class="mt10">{% banner %}</div>
	</div>
	<!-- end of main blocks column left -->			
<div class="clear"></div>
</div>
<!-- end of main blocks -->
{% endblock content %}
