<a href="https://www.facebook.com/summitmedicalnj" class="btn btn-block btn-facebook">
    <b><i class="fa fa-facebook"></i> Like</b></a>
<a href="https://twitter.com/SummitMedicalNJ" class="btn btn-block btn-twitter">
    <b><i class="fa fa-twitter"></i> Tweet</b></a>
<a href="https://plus.google.com/+summitmedicalgroup/posts" class="btn btn-block btn-google">
    <b><i class="fa fa-google-plus"></i></b></a>
<a href="https://www.youtube.com/user/SMGNJ" class="btn btn-block btn-youtube">
    <b><i class="fa fa-youtube"></i></b></a>
<a href="https://www.linkedin.com/company/summit-medical-group-of-berkeley-heights-nj" class="btn btn-block btn-linkedin">
    <b><i class="fa fa-linkedin-square "></i> Share</b></a>
<a href="https://www.pinterest.com/source/summitmedicalgroup.com/" class="btn btn-block btn-pinterest">
    <b><i class="fa fa-pinterest"></i> Pin it</b></a>
<a href="http://www.slideshare.net/smgnj" class="btn btn-block btn-follow">
    <b><i class="fa fa-users"></i> Follow</b></a>