{% extends 'articles/newsroom/base.html' %}
{% load helpers %}
{% load thumbnail %}

{% block head_title %}Articles | Summit Medical Group{% endblock head_title %}
{% block meta_info %}View a list of news articles about Summit Medical Group's doctors, services, and facilities.{% endblock meta_info %}

{% block content %}

<h1 class="top">Summit Medical Group News</h1>
                        
<p>We want our patients to know all the latest about what's going on at Summit Medical Group. Click on the headline of any article that interests you.</p>

<p><b>Articles last updated on {{ page.object_list.0.display_time|date:"M d, Y" }}.</b>

{% include 'includes/pagination.html' %}

<div class="list-group">
{% for article in page.object_list %}
    {% ifequal article.leader_promo 0 %}
    <a class="list-group-item" href="{{ article.get_absolute_url }}">{{ article.headline|safe }}</a>
    {% endifequal %} 
{% endfor %}
</div>

{% include 'includes/pagination.html' %}

{% endblock content %}