{% extends 'one_column_layout.html' %}

{% block head_title %}Summit Medical Group - Recipes{% endblock head_title %}
{% block meta_info %}View a list of Recipes.{% endblock meta_info %}
{% block page_title %}Recipes{% endblock %}

{% block content %}
<p>To help you live well and stay well, Summit Medical Group has begun a new recipes section with healthy options to cook and serve. Our registered dietitian, <a href="/doctor/scanonico/">Susan Canonico, RD</a>, reviews each recipe and provides important nutrition information to help you get the nutrients, vitamins, and minerals you need.</p>
                        
<p>Be sure to check our <a href="/features/Nutrition/">Nutrition column</a> for helpful advice about all aspects of nutrition, including food safety, articles about foods that can help protect your health, and recommendations for maintaining a healthy weight.</p>
                        
<p>We are eager to expand our recipes section! If you have healthy suggestions you would like to share with us, please email <a href="mailto:jmathews@smgnj.com">jmathews@smgnj.com</a> with your healthy recipe. If your recipe meets our registered dietitian's criteria, we will feature it on our site!</p>

<ul>
{% for recipe in page.object_list %}
    <li>
        <a href="{{ recipe.get_absolute_url }}">{{ recipe.title|safe }}</a> 
        <span>({{ recipe.display_time_for_display }})</span>
    </li>
{% endfor %}
</ul> 
{% include 'includes/pagination.html' %}

{% endblock content %}