{% extends "services/base.html" %}
{% load helpers %}

{% block head_title %}Plastic Surgery at Summit Medical Group{% endblock head_title %}
{% block meta_info %}{% meta_info service %}{% endblock meta_info %}
{% block seo_keywords %}{% seo_keywords service %}{% endblock seo_keywords %}

{% block body_tag %}<body class="peach_theme s_plastic">{% endblock body_tag %}
{% block content %}
<!-- start of main blocks -->
<div id="main_block" class="main_block">
	<div class="main_block_sub_1">
		<div class="main_block_sub_2">

			<!-- start of main blocks column right -->
			<div class="right_main_block">
				<div class="right_sub_main_block">
				
					<!-- start of pages navigation -->
					<div class="navigation">
						<div class="pages">
							<a href="/services/">Services</a> / {{ service.name }}
						</div>
						
						{% include 'site/share.html' %}									
					</div>
					<div class="clear"></div>
					<!-- end of pages navigation -->
					
					<!-- start of main content -->
					<div class="cols_2_fix_right_160">

						<!-- start of left column of main content -->
						<div class="cols_2_left">
						  <div class="cols_2_left_sub">
								
								
								<!-- start of main information.  will sort out  how to replicate the appearance of this text or near equivalent using the FCK editor -->
								<div class="main_info">
									{{ service.content|safe }}
								</div>
								<div class="subdiv_1">
									{{ service.learn_more|safe }}
								</div>
								<!-- end of main information -->

								

						  </div>
						</div>
						<!-- end of left column of main content -->
						
						<!-- start of right column of main content -->
						<div class="cols_2_right">

							<!--Note: New requirements on Location. This will now be WYSIWYG text. -->
										
							<div class="box_160">
								<div class="box_160_top">
									<div class="box_160_bottom">
										<div class="box_160_wrap">
											<h3>Location</h3>
											{{ service.location|safe }}
											<!--The phone number from the "Phone" field on the admin form, if present.-->
											<p class="bolder">Main phone number:<br /> {{ service.phone }}</p>
										</div>
									</div>
								</div>
							</div>

							<!-- "Patient Tools" from admin form.  Probably need to tweak source HTML in FCKEditor to reproduce look of this text-->
							<div class="box_160">
								<div class="box_160_top">
									<div class="box_160_bottom">
										<div class="box_160_wrap">
											{{ service.patient_tools|safe }}
										</div>
									</div>
								</div>
							</div>

							


						</div>
						<!-- end of right column of main content -->
					</div>
					<!-- end of main content -->
				</div>
			</div>
			<!-- end of main blocks column right -->



			<!-- start of main blocks column left -->
			<div class="left_main_block">
				
				<div><a href="/"><img src="{{ MEDIA_URL }}images/204x92_smg_return.gif" alt="SMG" width="204" height="92" border="0" /></a></div>
				
				<div class="box_207 mt10">
					<div class="box_207_bottom">
						<div class="box_207_top">

							{% if events %}
							
								<h2 class="quick_links">Upcoming Events</h2>
								<div class="wrap_0x14x50x14">
									<ul class="arrows">
								
									{% for event in events %}
									<li>{{ event.title }}
									<div class="small-date">{{ event.timeshort }}</div>
									<a href="{{ event.get_absolute_url }}">Details and location</a></li>
									{% endfor %}
									</ul>
								</div>
							
							{% endif %}

						</div>
					</div>
				</div>

				<div class="box_207 mt10">
					<div class="box_207_bottom">
						<div class="box_207_top">
							<div class="box_arrowed_list">
							<!--"Offerings" from admin form. Note, list format is illustrative only (assume admin will format content as desired).-->
							<h2>Our Specialties</h2>
							<ul class="triangles">
								{{ service.offerings|safe }}
							</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="box_207 mt10">
					<div class="box_207_bottom">
						<div class="box_207_top">

							
							<!-- this box will be hardcoded onto the page. would like the link below to use the javascript:plast_galleryPopup()  from the current site or a functional equivalent-->
							<h2 class="quick_links">Before and After</h2>
							<div class="left_links">
								<ul class="triangles"><li><a href="javascript:plast_galleryPopup()">Click here to view before and after photos</a></ul></li>
							</div>

						</div>
					</div>
				</div>


			</div>
			<!-- end of main blocks column left -->
			
		</div>
	</div>
<div class="clear"></div>
</div>
<!-- end of main blocks -->
{% endblock content %}
