{% extends "page_primary.html" %}
{% load helpers %}

{% block head_title %}Apogee Integrative Medicine and Spa - Summit Medical Group{% endblock head_title %}
{% block meta_info %}{% meta_info service %}{% endblock meta_info %}
{% block seo_keywords %}{% seo_keywords service %}{% endblock seo_keywords %}

{% block head_extra %}
	<link rel="stylesheet"  href="/dynamic-css/themes.css" type="text/css" media="screen" />
	<script src="{{ MEDIA_URL }}/js/page_tools.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
	<!--
		var blank_url = "{{ MEDIA_URL }}/images/95x95_loading.jpg";
		var error_url = "{{ MEDIA_URL }}/images/95x95_not_avail.jpg";
	-->
	</script>
	<script src="{{ MEDIA_URL }}/js/doctor_flyover.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	var mysmg_model = "service";
	var mysmg_title = "{{ service.name }}";
	var mysmg_pk = {{ service.pk }};
	</script>
{% endblock head_extra %}

{% block body_tag %}<body class="violet_theme s_spa">{% endblock body_tag %}
{% block content %}
<!-- start of Main Box -->
	<div id="shadow_left"><div id="shadow_right">
		<div id="container">

			<!-- start of Top Row -->
			{% header '908-277-8900' '' %}
			<!-- end of top info -->

		<!--main area starts-->
		<!-- start of top menu tabs -->
		<div id="top_menu_tabs">
			<div class="wrap_top_menu_tabs">
				<a href="/">Home</a>
				<a class="active" href="/services/" title="Find a Specialist or Specialty in New Jersey">Services</a>
				<a href="/doctors/" title="Find a Doctor or Practitioner in New Jersey">Practitioners</a>
				<a href="/library/">Live Well Library</a>
				<a class="w197" href="/mysummitmedicalgroup/">My Summit Medical Group</a>
			</div>
		</div>
		<!-- end of top menu tabs -->
			
			<div class="services_top_stripe"></div>
			
			<!-- start of main blocks -->
			<div id="main_block" class="main_block">
				<div class="main_block_sub_1">
					<div class="main_block_sub_2">

						<!-- start of main blocks column right -->
						<div class="right_main_block">
							<div class="right_sub_main_block">
							
								<!-- start of pages navigation -->
								<div class="navigation">
									<div class="pages">
										<a href="/services/">Services</a> / Apogée Integrative Medicine and Spa
										<!-- Note: Service name is NOT dynamic here-->
									</div>
									
									{% include 'site/share.html' %}
								</div>
								<div class="clear"></div>
								<!-- end of pages navigation -->
								
								<!-- start of main content -->
								<div class="cols_2_fix_right_160">
		
									<!-- start of left column of main content -->
									<div class="cols_2_left">
									  <div class="cols_2_left_sub">
											<div class="h1_wrap"><h1>Apogée Integrative Medicine and Spa</h1></div>
											<!-- start of main information ("Content" from the service form)-->
											
											
											<!-- start of main information -->
											<div class="main_info">
												{{ service.content|safe }}
											</div>
											
											<!-- end of main information -->

									  </div>
									</div>
									<!-- end of left column of main content -->
									
									<!-- start of right column of main content -->
									<div class="cols_2_right">

										<!--Note: New requirements on Location. This will now be WYSIWYG text. -->
													
										<div class="box_160">
											<div class="box_160_top">
												<div class="box_160_bottom">
													<div class="box_160_wrap">
														<h3>Location</h3>
														{{ service.location|safe }}
														<p class="bolder">Request an appointment<br /> or call {{ service.phone }}</p>
													</div>
												</div>
											</div>
										</div>
										{% if doctors %}
										<div class="box_160">
											<div class="box_160_top">
												<div class="box_160_bottom">
													<!--Displays doctors for this service whose status is "Doctor." Hidden if none.-->
													<!--Flyover in doctor_flyover.html-->
													<div class="box_160_wrap">
														<h3>Our Doctors</h3>
														{% for doctor in doctors %}
														<p><a href="{{ doctor.get_absolute_url }}" onmouseover="photoOn(this, {% if doctor.thumbnail %}'{{ doctor.thumbnail.url }}'{% else %}''{% endif %}, '{{ doctor.display_name }}, {{ doctor.letters }}', '{{ doctor.list_services }}', '{{ doctor.phone }}')" onmouseout="photoOff()" onclick="photoOff()">{{ doctor.display_name }}, {{ doctor.letters }}</a></p>
														{% endfor %}
													</div>
												</div>
											</div>
										</div>
										{% endif %}
		
										{% if staff %}
										<div class="box_160">
											<div class="box_160_top">
												<div class="box_160_bottom">
													<!--Displays doctors for this service whose status is "Staff." Hidden if none.-->
													<!--Flyover in doctor_flyover.html-->
													<div class="box_160_wrap">
														<h3>Our Staff</h3>
														{% for doctor in staff %}
														<p><a href="{{ doctor.get_absolute_url }}" onmouseover="photoOn(this, {% if doctor.thumbnail %}'{{ doctor.thumbnail.url }}'{% else %}''{% endif %}, '{{ doctor.display_name }}, {{ doctor.letters }}', '{{ doctor.list_services }}', '{{ doctor.phone }}')" onmouseout="photoOff()" onclick="photoOff()">{{ doctor.display_name }}</a>, {{ doctor.letters }}</p>
														{% endfor %}
													</div>
												</div>
											</div>
										</div>
										{% endif %}
										
										{% if patient_tools %}
										<div class="box_160">
											<div class="box_160_top">
												<div class="box_160_bottom">
													<div class="box_160_wrap">
														{{ service.patient_tools|safe }}
													</div>
												</div>
											</div>
										</div>
										{% endif %}
										
										
										
										<div class="doctor_photo_flyover" id="doctor_photo_flyover">
											<div><img id="doctor_image" src="{{ MEDIA_URL }}/images/100x130Load.gif" /></div>
											<p class="name" id="doctor_name"></p>

											<dl>
												<dt>Specialty:</dt>
												<dd id="doctor_service"></dd>
											</dl>
											<dl>
												<dt>Phone Number:</dt>
												<dd id="doctor_phone"></dd>

											</dl>
										</div>
									</div>
									<!-- end of right column of main content -->
								</div>
								<!-- end of main content -->
							</div>
						</div>
						<!-- end of main blocks column right -->


	
						<!-- start of main blocks column left -->
						<div class="left_main_block">

							<div><a href="/"><img src="{{ MEDIA_URL }}/images/204x92_smg_return.gif" alt="SMG" width="204" height="92" border="0" /></a></div>

							<!-- "Offerings" from admin form. Currenlty no content in this field. Suppress when empty. -->
							{% if service.offerings %}
							<div class="box_207 mt10">
								<div class="box_207_bottom">
									<div class="box_207_top">
	
										<h2 class="quick_links">Our Services</h2>
										<ul class="triangles">
											{{ service.offerings|safe }}
										</ul>
										
									</div>
								</div>
							</div>
							{% endif %}
							<div class="box_207 mt10">
								<div class="box_207_bottom">
									<div class="box_207_top">
	
										{% if events %}
										
											<h2 class="quick_links">Upcoming Events</h2>
											<div class="wrap_0x14x50x14">
												<ul class="arrows">
											
												{% for event in events %}
												<li>{{ event.title }}
												<div class="small-date">{{ event.timeshort }}</div>
												<a href="{{ event.get_absolute_url }}">Details and location</a></li>
												{% endfor %}
												</ul>
											</div>
										
										{% endif %}
										
										
									</div>
								</div>
							</div>
							
							<div class="box_207 mt10">
								<div class="box_207_bottom">
									<div class="box_207_top">
	
										<h2 class="quick_links">You Might Also Like</h2>
										<!-- "Related services" from admin form.-->
										<div class="rain_box_wrap_0_6_28">
											<div class="rain_box">
												<div class="quick_links">
													<ul class="arrows">
														{% for related in service.related_services.all %}
															<li><a href="{{ related.get_absolute_url }}">{{ related.name }}</a></li>
														{% endfor %}
													</ul>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>


							<div class="mt10">
								{% banner %}</div>
						</div>
						<!-- end of main blocks column left -->
						
					</div>
				</div>
			</div>
			<!-- end of main blocks -->
			
		</div>
		
		<div id="bottom_white"><em><em></em></em></div>
	</div></div>
<!-- end of Main Box -->
{% endblock content %}
