{% extends "mysmg/base.html" %}
{% load helpers %}

{% block content %}
<script type="text/javascript">
	function moveto(obj1, chars, obj2){
	        if(obj1.value.length == chars) {
	                obj2.focus();
	                obj2.select();
	        }
	}
</script>
<!-- start of main box -->
<div id="main_box">
	<!-- start of left main column -->
	<div id="left_207_main_box">
		<div class="infobox blue_infobox">
			<div class="bottom_infobox">
				<div class="top_infobox">
					{% banner %}
				</div>
			</div>
		</div>
	</div>
	<!-- end of left main column -->
	
	<!-- start of right main column -->
	<div id="right_710_main_box">
		<div class="create_account">
			<h1>Personalize your profile.</h1>												
			
			<form method="POST" action="" class="form_create_account go_form_my">
			
				<fieldset>								
					<p>Change e-mail address</p>
					<div>
						<label>* Email Address: </label>									
						{{ form.username }}
						{% if form.username.errors %}<b><img img src="{{ MEDIA_URL }}/images/16x12_x_icon.gif" alt="Error" /> Error: This is not a valid e-mail address</b>{% endif %}
						
						<label>* Confirm Email Address: </label>									
						{{ form.cusername }}
						{% if form.username2.errors %}<b><img img src="{{ MEDIA_URL }}/images/16x12_x_icon.gif" alt="Error" /> Error: These email addresses are not equal</b>{% endif %}
					</div>
					<div class="buttons">
						<input type="submit" value="Change" />
						<input type="hidden" name="action" value="emails" />
					</div>
				</fieldset>						
				
				<fieldset>						
					<p>Change passwords</p>
					<div>
						<label>* Password:</label>
						{{ form.password }}
						<span class="floated"><b>{% if form.password.errors %}<img img src="{{ MEDIA_URL }}/images/16x12_x_icon.gif" align="left" alt="Error" />{% endif %} Choose a password between 6 and 20 characters.<br /> 
							Spaces are not allowed.</b></span>
					</div>
					<div>
						<label>* Confirm Password:</label>
						{{ form.password2 }}
						{% if form.password2.errors %}<b><img img src="{{ MEDIA_URL }}/images/16x12_x_icon.gif" align="left" alt="Error" /> Error: Your passwords do not match</b>{% endif %}
					</div>
					<div class="buttons">
						<input type="submit" value="Change" />
						<input type="hidden" name="action" value="passwords" />
					</div>
				</fieldset>
				
				<fieldset>								
					<p>Personal Information</p>
					<span class="box">Personal information is optional. It will only be used to improve your experience on the site and to conﬁrm your identity if you forget the e-mail address you are using to register.</span>
					<div>
						<label>First Name:</label>
						{{ form.first_name }}									
					</div>
					<div>
						<label>Middle Name:</label>
						{{ form.middle_name }}
					</div>
					<div>
						<label>Last Name:</label>
						{{ form.last_name }}
					</div>								
					<div>
						<label>Zip Code:</label>
						{{ form.zipcode }}
						<span class="floated"><b>{% if form.zipcode.errors %}<img img src="{{ MEDIA_URL }}/images/16x12_x_icon.gif" align="left" alt="Error" />{% endif %} Please enter your five digit zip code<br /></b></span>
					</div>
				
					<br />

					<p>Security Question</p>
					<div>
						<label>Choose a question:</label>
						<div class="relative-40" style="padding: 0">
							<div class="absolute-8" style="padding: 0; top: 0;">&nbsp;
								<select name="new_secret_question" id="new_secret_question">
									<option>Select one &raquo;</option>
									<option>What is your mother's maiden name?</option>
									<option>What is your favorite pet's name?</option>
									<option>What is your town/city of birth?</option>
								</select>
							</div>
						</div>									
					</div>
						<label>Answer:</label>
						{{ form.security_answer }}
				
					<br />
				
					<p>Subscribe to Our Newsletter</p>
					<span class="box">You can also sign up for our Thrive e-mail newsletter with the e-mail address you provided. Choose below to subscribe automatically.</span>
					{{ form.contact }}								
					<div class="buttons" style="clear: both;">
						<input type="submit" value="Change" />
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<!-- end of right main column -->
<div class="clear"></div>
</div>
<!-- end of main box -->

{% endblock content %}