{% extends "mysmg/base.html" %}
{% load helpers %}

{% block head_title %}Summit Medical Group - Confirmation{% endblock head_title %}

{% block content %}
<!-- start of main blocks -->
<div id="main_block" class="main_block">
	<div class="main_block_sub_1">
		<div class="main_block_sub_2">
			
			<!-- start of main blocks column right -->
			<div class="right_main_block">
				<div class="right_sub_main_block">				
					<div class="smg_general_container">
						<div><font face="Georgia"><b><i><a href="/mysummitmedicalgroup/">My Summit Medical Group</a></i></b></font> &gt; Account Confirmation</div>
						
						<br />

						<h1>Account Confirmation</h1>
						
						<p>Thank you for registering for a <font face="Georgia"><b><i><a href="/mysummitmedicalgroup/">My Summit Medical Group</a></i></b></font> account. A confirmation key has been sent to the e-mail address you provided. Please check your inbox for this message and follow the instructions in the e-mail to confirm your account.</p>
						
						<p><b>IMPORTANT:</b> If you do not receive your confimration message by e-mail, your e-mail service may have flagged it as spam. Please check your spam folder, and add register@summitmedicalgroup.com to your list of allowed senders.</p>
				
					</div>
					
				</div>
				
			
			</div>
			<!-- end of main blocks column right -->
			<!-- start of main blocks column left -->
			<div class="left_main_block">
				<div class="mt10">{% banner %}</div>
			</div>
			<!-- end of main blocks column left -->

		</div>
	</div>
	<div class="clear"></div>
</div>
<!-- end of main blocks -->
{% endblock content %}